body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(141, 141, 228);
}
h1 {
  font-size: 35px;
  color: rgb(71, 4, 90);
}
p {
  font-size: 15px;
  color: rgb(35, 5, 43);
}
h2 {
  color: rgb(98, 0, 128);
}

.card {
  border-radius: 8px;
  width: 300px;
  padding: 12px;
  border-color: black;
  border-style: dotted;
  background-color: rgb(156, 132, 165);
  margin: 10px;
}
button {
  color: rgb(140, 190, 140);
  background-color: rgb(64, 14, 110);
  cursor: crosshair;
}
button:hover {
  background-color: rgb(28, 122, 28);
  color: greenyellow;
}
